
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand p-xs-0" href="{{site.url}}">
                <img src="/assets/img/logo-115x50.png" alt="logo" />
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Content Management</a></li>
                        <li><a href="#">Content Creation</a></li>
                        <li><a href="#">Content Hosting</a></li>
                        <li><a href="#">Insights</a></li>
                    </ul>
                </li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Resources</a></li>
                <li {% if page.url == "/pricing/" %} class="active" {% endif %} ><a href="/pricing/">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
