.list-group.b-0>.list-group-item {
    border-left: 0;
    border-right: 0;
}

.list-group.b-0>.list-group-item:first-child,
.list-group.b-0>.list-group-item:last-child {
    border-radius: 0;
}

.row-split [class*='col-lg']:not(:last-child):not(.col-ld-12) {
    @media (min-width: $screen-lg) {
        border-right: 1px solid $default-border-color;
    }
}
.row-split [class*='col-md']:not(:last-child):not(.col-md-12){
    @media (min-width: $screen-md) {
        border-right: 1px solid $default-border-color;
    }
}
.row-split [class*='col-sm']:not(:last-child):not(.col-sm-12){
    @media (min-width: $screen-sm) {
        border-right: 1px solid $default-border-color;
    }
}
.row-split [class*='col-xs']:not(:last-child):not(.col-xs-12) {
    border-right: 1px solid $default-border-color;
}

.b {
    border: 1px solid $default-border-color;
    &-0 {
        border: 0 !important;
    }
}

.bt {
    border-top: 1px solid $default-border-color;
    &-0 {
        border-top: 0 !important;
    }
}

.br {
    border-right: 1px solid $default-border-color;
    &-0 {
        border-right: 0 !important;
    }
}

.bb {
    border-bottom: 1px solid $default-border-color;
    &-0 {
        border-bottom: 0 !important;
    }
}

.bl {
    border-left: 1px solid $default-border-color;
    &-0 {
        border-left: 0 !important;
    }
}