// Navmenu and offcanvas navbar
// --------------------------------------------------
// Wrapper and base class
//
// Provide a static navmenu from which we expand to create the fixed navmenu
// variations.
.navmenu {
    width: $navmenu-width;
    height: 100%;
    &.navbar-default,
    &.navbar-inverse {
        border-width: 1px;
        border-style: solid;
        border-radius: $border-radius-base;
    }
}

.navmenu-fixed-left,
.navmenu-fixed-right {
    position: fixed;
    z-index: $zindex-navmenu-fixed;
    top: 0;
    overflow-y: auto;
}

.navmenu-fixed-left {
    left: 0;
    right: auto;
    bottom: 0;
}

.navbar-default.navmenu-fixed-left,
.navbar-inverse.navmenu-fixed-left {
    border-width: 0 1px 0 0;
    border-radius: 0;
}

.navmenu-fixed-right {
    left: auto !important;
    right: 0; 
}

.navbar-default.navmenu-fixed-right,
.navbar-inverse.navmenu-fixed-right {
    border-width: 0 0 0 1px;
    border-radius: 0;
}

.navmenu.navbar-inverse .dropdown-menu .divider {
    background-color: $navbar-inverse-border;
}

.navmenu .navbar-nav {
    margin: 0;
    margin-bottom: $navmenu-margin-vertical;
    &.dropdown-menu {
        background-color: transparent;
        position: static;
        margin: 0;
        padding-top: 0;
        float: none;
        border: none;
        @include box-shadow(none);
        border-radius: 0;
        >li>a,
        .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
    }
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        float: none;
    }
    >li {
        float: none !important;
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// Alternate navmenus
// --------------------------------------------------
// Default navmenu
.navmenu {
    .navbar-brand {
        float: none;
        display: block;
    }
}

.navbar+.navmenu {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    z-index: 1029;
}

.navmenu-modal {
    z-index: 1025 !important;
}