// margin and padding shorthands
$space-prefixes: ( p: padding, pt: padding-top, pr: padding-right, pb: padding-bottom, pl: padding-left, m: margin, mt: margin-top, mr: margin-right, mb: margin-bottom, ml: margin-left, ) !default;
$breakpoints: $grid-breakpoints-custom;
@if $use-bootstrap {
    $breakpoints: $grid-breakpoints;
}

// main function definition
@mixin make-space($values, $prefixes, $breakpoints) {
    @each $breakpoint-name,
    $breakpoint-value in $breakpoints {
        // if xs value = 0, set it global without media queries
        @if($breakpoint-value==0) {
            @each $attr-short,
            $attr-long in $prefixes {
                @each $value in $values {
                    .#{$attr-short}-#{$breakpoint-name}-#{$value} {
                        #{$attr-long}: #{$value}px !important;
                    }
                }
            }
        }
        // breakpoint values that not equal to 0
        @else {
            @media (min-width: $breakpoint-value) {
                @each $attr-short, $attr-long in $prefixes {
                    @each $value in $values {
                        .#{$attr-short}-#{$breakpoint-name}-#{$value} {
                            #{$attr-long}: #{$value}px !important;
                        }
                    }
                }
            }
        }
    }
}

@include make-space($space-values, $space-prefixes, $breakpoints);