@media (max-width: $screen-xs-max) {
    .break-xs {
        width: 100% !important;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .break-sm {
        width: 100% !important;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .break-md {
        width: 100% !important;
    }
}

@media (min-width: $screen-lg-min) {
    .break-lg {
        width: 100% !important;
    }
}

.bg-white {
    background-color: #fff;
}

.bg-transparent {
    background-color: transparent;
}

.bg-well {
    background-color: $well-bg;
}

.bg-jumbotron {
    background-color: $jumbotron-bg;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(65, 65, 65);
}

.text-white {
    color: #fff !important;
}

.vertical {
    &-middle>* {
    vertical-align: middle;
    }

    &-top>* {
        vertical-align: top;
    }

    &-bottom>* {
        vertical-align: bottom;
    }
}

.fill {
    height: 100%;
    width: 100%;
}

.full-height {
    height: 100%;
}