$use-bootstrap: false;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  0 !global;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !global;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !global;

@if $use-bootstrap == false {

    //== Colors
    //
    //## Gray and brand colors for use across Bootstrap.

    $gray-base:              #000 !global;
    $gray-darker:            lighten($gray-base, 13.5%) !global; // #222
    $gray-dark:              lighten($gray-base, 20%) !global;   // #333
    $gray:                   lighten($gray-base, 33.5%) !global; // #555
    $gray-light:             lighten($gray-base, 46.7%) !global; // #777
    $gray-lighter:           lighten($gray-base, 93.5%) !global; // #eee

    $brand-primary:         darken(#428bca, 6.5%) !global; // #337ab7
    $brand-success:         #5cb85c !global;
    $brand-info:            #5bc0de !global;
    $brand-warning:         #f0ad4e !global;
    $brand-danger:          #d9534f !global;

    $font-size-base:          14px !global;
    $font-size-large:         ceil(($font-size-base * 1.25)) !global; // ~18px
    $font-size-small:         ceil(($font-size-base * 0.85)) !global; // ~12px

    $line-height-base:        1.428571429 !global; // 20/14
    //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
    $line-height-computed:       floor(($font-size-base * $line-height-base)) !global; // ~20px

    $dropdown-header-color:          $gray-light !global;
    $dropdown-divider-bg:            #e5e5e5 !global;
    //== Media queries breakpoints
    //
    //## Define the breakpoints at which your layout will change, adapting to different screen sizes.

    // Small screen / tablet
    //** Deprecated `$screen-sm` as of v3.0.1
    $screen-sm:                  768px !global;
    $screen-sm-min:              $screen-sm !global;
    //** Deprecated `$screen-tablet` as of v3.0.1
    $screen-tablet:              $screen-sm-min !global;

    // Medium screen / desktop
    //** Deprecated `$screen-md` as of v3.0.1
    $screen-md:                  992px !global;
    $screen-md-min:              $screen-md !global;
    //** Deprecated `$screen-desktop` as of v3.0.1
    $screen-desktop:             $screen-md-min !global;

    // Large screen / wide desktop
    //** Deprecated `$screen-lg` as of v3.0.1
    $screen-lg:                  1200px !global;
    $screen-lg-min:              $screen-lg !global;
    //** Deprecated `$screen-lg-desktop` as of v3.0.1
    $screen-lg-desktop:          $screen-lg-min !global;

    // So media queries don't overlap when required, provide a maximum
    $screen-xs-max:              ($screen-sm-min - 1) !global;
    $screen-sm-max:              ($screen-md-min - 1) !global;
    $screen-md-max:              ($screen-lg-min - 1) !global;

    //== Grid system
    //
    //## Define your custom responsive grid.

    //** Number of columns in the grid.
    $grid-columns:              12 !global;
    //** Padding between columns. Gets divided in half for the left and right.
    $grid-gutter-width:         30px !global;
    // Navbar collapse
    //** Point at which the navbar becomes uncollapsed.
    $grid-float-breakpoint:     $screen-sm-min !global;
    //** Point at which the navbar begins collapsing.
    $grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !global;


    //== Container sizes
    //
    //## Define the maximum width of `.container` for different screen sizes.

    // Small screen / tablet
    $container-tablet:             (720px + $grid-gutter-width) !global;
    //** For `$screen-sm-min` and up.
    $container-sm:                 $container-tablet !global;

    // Medium screen / desktop
    $container-desktop:            (940px + $grid-gutter-width) !global;
    //** For `$screen-md-min` and up.
    $container-md:                 $container-desktop !global;

    // Large screen / wide desktop
    $container-large-desktop:      (1140px + $grid-gutter-width) !global;
    //** For `$screen-lg-min` and up.
    $container-lg:                 $container-large-desktop !global;

    //== Navbar
    //
    //##

    $navbar-default-color:             #777 !global;
    $navbar-inverse-color:             lighten($gray-light, 15%) !global;
    $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !global;
    $nav-link-padding:                 10px 15px !global;
    $navbar-inverse-border:            darken(#222, 10%) !global;

    //== Components
    //
    //## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
    $border-radius-base:      4px !global;
    //== Buttons
    //
    //## For each of Bootstrap's buttons, define text, background and border color.


    $btn-default-border:             #ccc !global;

    $btn-primary-bg:                 $brand-primary !global;
    $btn-primary-border:             darken($btn-primary-bg, 5%) !global;

    $btn-success-bg:                 $brand-success !global;
    $btn-success-border:             darken($btn-success-bg, 5%) !global;

    $btn-info-bg:                    $brand-info !global;
    $btn-info-border:                darken($btn-info-bg, 5%) !global;

    $btn-warning-bg:                 $brand-warning !global;
    $btn-warning-border:             darken($btn-warning-bg, 5%) !global;

    $btn-danger-bg:                  $brand-danger !global;
    $btn-danger-border:              darken($btn-danger-bg, 5%) !global;

    $border-radius-large:       6px !global;
    $border-radius-small:       3px !global;

    $state-warning-text:             #8a6d3b !global;
    $state-warning-bg:               #fcf8e3 !global;
    $state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !global;

    $state-danger-text:              #a94442 !global;
    $state-danger-bg:                #f2dede !global;
    $state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !global;
    $state-success-text:             #3c763d !global;
    $state-success-bg:               #dff0d8 !global;
    $state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !global;

    // panel
    $panel-body-padding:         15px !global;
    $panel-inner-border:          #ddd !global;

    //tabs
    $nav-tabs-border-color:                     #ddd !global;

    //Navbar Static
    $navbar-height: 50px !global;
    $navbar-padding-vertical: 15px !global;
    $navbar-padding-horizontal: 15px !global;

    //Background Colors
    $well-bg:                     #f5f5f5 !global;
    $jumbotron-bg:                #eee !global;
}

$grid-breakpoints-custom: (
  // Extra small screen / phone
  xs: $screen-xs-min,
  // Small screen / phone
  sm: $screen-sm-min,
  // Medium screen / tablet
  md: $screen-md-min,
  // Large screen / desktop
  lg: $screen-lg-min
) !global;

// font values array
$font-values : (
  '0.5',
  '0.6',
  '0.7',
  '0.8',
  '0.9',
  '1.0',
  '1.1',
  '1.2',
  '1.3',
  '1.4',
  '1.5',
  '1.6',
  '1.7',
  '1.8',
  '1.9',
  '2.0',
  '2.2',
  '2.4',
  '2.5',
  '2.6',
  '2.8',
  '3.0',
  '3.2',
  '4.0'
) !default;

// margin and padding values array
$space-values : (
  0,
  5,
  10,
  15,
  20,
  30,
  40,
  50
) !default;

//== Containers
$container-xs:                      480px !default;
$container-login:                   (300px + $grid-gutter-width) !default;
$container-login-2:                 (800px + $grid-gutter-width) !default;
$container-login-offset:            100px;
$container-login-bp:                $container-login + $grid-gutter-width;

//== Progress Bar Sizes
$progress-sm:                       10px !default;
$progress-xs:                       5px !default;
$progress-margin:                   5px !default;

//== list
$inline-list-separator: '\00a0\00a0|\00a0\00a0\00a0' !default;

//== Gutter
$gutter-array:                      0 5 10 15 20 !default;

//= button Circle
$btn-circle-size: 30px;
$btn-circle-size-lg: 50px;

//== Navmenu

// Basics of a navmenu
$zindex-navmenu-fixed:              1030 !global;
$navmenu-width:                     240px !default;
$navmenu-margin-vertical:           (0.5 * 20px) !default;

// Navbar Slide variables
$navbar-slide-trasition: 0.35s;

//Borders
$default-border-color: $panel-inner-border;