
<!DOCTYPE html>
<html lang="en" class="has-sticky-footer">
    {% include head.html %}
    <body class="{{page.slug}}" style="margin-bottom: 60px;">
        {% include navbar.html %}
        {{content}}
        
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
